$color-black: #1B1B1D;
$color-black-second: #2a2a2d;
$color-black-light: #3b3b3e;
$color-white: #FFFFFF;
$color-link_hover: #a4a4a4;
$button-background: #ffcf49;
$button-background_hover: #febf2d;
$button-background_disabled: #a4a4a4;
$color-selected: #c1a063;
$color-red: #ff4c3f;
$color-green: #40e00f;


$button-secondary-background: #ffcf49;
$button-secondary-background_hover: rgba(255, 207, 73, 0.25);