@import '../../styles/vars.scss';

.AdminTeams {
    padding: 20px;

    &-Create {
        margin-bottom: 20px;

        &-button {
            width: 150px;
            height: 40px;
        }
    }

    &-Search {
        margin-left: 10px;
        height: 40px;
        background-color: $color-black-light;
        width: 40px;
        border-radius: 10px;
        background-image: url('./../../../public/images/icons8-search.svg');
        background-size: 80% 80%;
        background-repeat: no-repeat;
        background-position: center;
    }

    &-Header {
        border: 4px solid $color-black-light;
        padding-inline: 10px;
        padding-block: 10px;
        display: flex;
        flex-direction: row;
        border-radius: 15px;
        justify-content: space-between;
        align-items: center;
        width: 30%;
        margin-bottom: 20px;

        & input {
            width: 80%;
        }
    }

    &-Table {
        border-collapse: collapse;
        width: 100%;

        & thead {
            background-color: $color-selected;
        }

        & table, tr, th, td {
            border: 2px solid $color-black-light;
            text-align: center;
        }

        & th, td {
            padding: 10px; /* Добавляет отступ вокруг содержимого ячеек */
        }

        &-Header {

        }

        &-Content {

            &-Action {
                cursor: pointer;
                color: $button-background;
                transition: 0.3s ease-in-out;

                &:hover {
                    color: $button-secondary-background_hover;
                }
            }
        }
    }
}